name: SAP CPI Backup Workflow Final

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

jobs:
  backup_job:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Get OAuth Token
        shell: bash
        env:
          CLIENT_ID: ${{ secrets.CPI_CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CPI_CLIENT_SECRET }}
          TOKEN_URL: ${{ secrets.CPI_TOKEN_URL }}
        run: |
          set -e

              echo "==== DEBUG CREDENCIAIS ===="

              echo "CLIENT_ID length: ${#CLIENT_ID}"
              echo "CLIENT_SECRET length: ${#CLIENT_SECRET}"
          
              printf "CLIENT_ID HEX: "
              echo -n "$CLIENT_ID" | xxd
          
              printf "CLIENT_SECRET HEX: "
              echo -n "$CLIENT_SECRET" | xxd
          
              echo "==== FIM DEBUG ===="
      
          echo "Gerando token OAuth..."
      
          BASIC_AUTH=$(printf "%s:%s" "$CLIENT_ID" "$CLIENT_SECRET" | base64)
      
          RESPONSE=$(curl -s -X POST "$TOKEN_URL" \
            -H "Authorization: Basic $BASIC_AUTH" \
            -H "Content-Type: application/x-www-form-urlencoded" \
            --data "grant_type=client_credentials")
      
          echo "Resposta recebida."
      
          TOKEN=$(echo "$RESPONSE" | jq -r '.access_token')
      
          if [ -z "$TOKEN" ] || [ "$TOKEN" = "null" ]; then
            echo "Falha na autenticação BTP."
            echo "$RESPONSE"
            exit 1
          fi
      
          echo "ACCESS_TOKEN=$TOKEN" >> $GITHUB_ENV
          echo "Token gerado com sucesso."

      - name: Download CPI Package
        shell: bash
        run: |
          set -e

          echo 'Iniciando download do pacote CPI...'

          PACKAGE_ID='GitHub_API'
          mkdir -p backups

          curl -L -X GET "${{ secrets.CPI_INTEGRATION_URL }}/api/v1/IntegrationPackages('${PACKAGE_ID}')/\$value" \
            -H "Authorization: Bearer $ACCESS_TOKEN" \
            --fail \
            --output "backups/package_$(date +'%Y%m%d').zip"

          echo 'Download concluído.'

      - name: Commit and Push
        shell: bash
        run: |
          set -e

          echo 'Verificando alterações...'

          git config --global user.name 'GitHub Action Bot'
          git config --global user.email 'actions@github.com'

          git add backups/

          if git diff --cached --quiet; then
            echo 'Sem alterações no pacote CPI desde o último backup.'
          else
            git commit -m "Automated Backup CPI - $(date +'%d/%m/%Y')"
            git push
            echo 'Backup versionado com sucesso.'
          fi
